body {
 background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
 background-size: cover;
 background-position: center;
 }

 .container{
     width: 380px;
     height: 500px;
     margin:  5% auto;
     background: #fff;
     border-radius: 5px;
    position: relative;
    overflow: hidden;
 }
 
 .container form{
     width: 270px;
     position: absolute;
     top: 75px;
     left: 40px;
     transition: 0.5s;
 }

 form input{
     width: 100%;
     padding: 10px 5px;
     border: 0;
     border-bottom: 1px solid black;
     outline: none;
     background: transparent;
 }
 ::placeholder{
     color: black;
 }


form button {
    border: none;
    outline: none;
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background-color: rgba(218, 35, 22, 0.781);
    color: rgb(8, 8, 8);
    border-radius: 20px;
    transition: 0.4s all;
  }
  
  button:hover {
    cursor: pointer;
    background-color: rgb(91, 235, 139);
    color: #060607;
  
  }
  button:focus{
      outline: none;
  }

#second{
    left: 450px;

}

#third{
    left: 450px;
}

/*#progress{
    position:absolute;
    height: 100%;
    width:120px;
    background: linear-gradient(to right , #ff105f ,#ffad06);
}*/

.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto; 
     display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px rgb(65, 62, 62);
    position: absolute;
}
.step-col{
    width: 120px;
    text-align: center;
    color:#333;
    position: relative;
}
#progress{
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right,#e45160,#22e6a4);
}
/*#progress::after{
    content:'';
    height: 0;
    width:0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position:absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #22e6a4;
}*/